@import '~office-ui-fabric-react/dist/sass/References.scss';

.wrapper {
  display: flex;
  justify-content: center;

  .content {
    @include ms-font-xl;

    >header {
      margin: 20px;
      max-width: 40vw;

      h1 {
        @include ms-font-xxl;
      }

      h2 {
        @include ms-font-xl;
      }

      button {
        margin: 0;
      }
    }

    width: fit-content;

    .searchSpinner {
      margin: 50px 0;
    }

    .search {
      display: flex;
      margin: 0 20px;


      .searchBox {
        margin: 5px 5px 5px 0;
        width: 250px;
      }

      button {
        margin: 5px;
      }
    }

    .searchButton {
      margin: 5px 20px;
      width: 93%;
    }

    button {
      margin: 0 20px;
    }
  }

  .forms {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 20px;

    button {
      margin: 5px 0;
    }
  }
}