@import '~office-ui-fabric-react/dist/sass/References.scss';

.page {
    margin: 20px;
    width: fit-content;

    header {
        @include ms-font-xl;
        margin: 15px 0;
    }

    .field {
        margin: 15px 0;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        height: 60px;
    }

    .summaryFields {
        display: flex;
        flex-direction: column;

        .summaryField {
            margin: 5px 0;

            .summaryFieldLabel {
                @include ms-font-l;
            }

            .summaryFieldValue {
                @include ms-font-m;
            }
        }
    }
}