@import '~office-ui-fabric-react/dist/sass/References.scss';

.spinner {
    display: flex;
    justify-content: center;
}

.page {
    margin: 20px 20px 120px 20px;
    width: fit-content;

    header {
        margin: 15px 0;

        h2 {
            @include ms-font-xl;
        }

    }

    .checkboxContainer {
        display: flex;
        flex-direction: column;

        .checkBoxDescription {
            @include ms-font-s;
            margin-top: 5px;
        }
    }


    .field {
        margin: 15px 0;

        .additionalDataValue {
            @include ms-font-m;
            background: #f5f5f5;
            border-radius: 12px;
            padding: 4px;
        }

        button {
            margin: 0;
        }
    }

    .dateTimeWrapper {
        display: flex;
        flex-direction: column;

        .dateTimeField {
            display: flex;
            flex-direction: row;

            .timePicker {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                .timeControls {
                    display: flex;
                    flex-direction: row;

                    span {
                        @include ms-font-l;
                        font-weight: 400;
                        margin: 5px 0 5px 15px;
                    }

                    .input {
                        width: 80px;
                        margin-left: 15px;
                        height: 32px;
                    }
                }
            }
        }
    }


    .actions {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        height: 60px;

        button {
            margin: 0 10px 0 0;
        }
    }

    .summaryFields {
        display: flex;
        flex-direction: column;

        .checkbox {
            margin: 30px 0 15px 0;
        }

        .summaryField {
            margin: 5px 0;

            .summaryFieldLabel {
                @include ms-font-l;
            }

            .summaryFieldValue {
                @include ms-font-m;
            }
        }
    }
}