@import '~@fluentui/react/dist/sass/References.scss';

.wrapper {
    margin: 0 20px;
    max-width: 30vw;

    .messageBar {
        margin: 15px 0;
    }

    .searchResult {
        display: flex;
        flex-direction: column;
        margin: 5px 0;

        .label {
            @include ms-font-l;
        }
        span {
            @include ms-font-m;
        }
    }
}